/* styles/Loading.module.css */
@font-face {
    font-family: 'Death Star';
    src: url('../resources/fonts/DeathStar.OTF') format('opentype');
    font-weight:100;
    font-style:oblique;
  }
.theoutercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 35%;
    margin-right: 4%;
}  
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left; 
    overflow: hidden;
    margin-left: 7%;

}

.loadingText {
    font-family: 'Death Star', sans-serif;
    font-size: 250%;
    font-weight: 100;
    line-height: 135%;
}

.logo {
    position: absolute;
    left: -10%;
    position: relative;
    width: 25%;
    margin-right: 1rem; /* Adjust this value to change spacing between image and text */
    filter: invert(0.8);
}
@media (max-width: 456px) {
    .loadingText {
        font-family: 'Death Star', sans-serif;
        font-size: 2rem;
        font-weight: 100;
        line-height: 135%;
    }
}
@media (max-width: 373px) {
    .loadingText {
        font-family: 'Death Star', sans-serif;
        font-size: 1rem;
        font-weight: 100;
        line-height: 135%;
    }
}