html {
  height: 100%;
  width: 100%;
}
/* globals.css */

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #bab9b9; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #7a7a7a; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Scrollbar styles for Firefox */

/* Ensure the entire page uses these styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* App container */
.App {
  overflow-y: auto;
}

/* Loading screen styles */
.LoadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main content styles */
.MainContent {
  padding: 20px; /* Add padding for better appearance */
  background-color: red;
}

body{
    background-color: rgb(17, 21, 22);
    color: rgb(196, 196, 196);
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden ;


}

.App {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw; 
  overflow: hidden;
}
 
.LoadingScreen{
  height: 100vh;
    display: flex;
    align-items: center;
    color: rgb(196, 196, 196);
    font-stretch:narrower;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3rem;
}


  
  
  .MainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }